<!DOCTYPE html>
<head>
	<style>
		@font-face { font-family: perfect; src: url('/kn/fonts/perfect.eot'); }
		@font-face { font-family: perfect; src: url('/kn/fonts/perfect.ttf'); }
		@font-face { font-family: perfect; src: url('/kn/fonts/perfect.eot?#iefix'); }
		@font-face { font-family: perfect; src: url('/kn/fonts/perfect.ttf?#iefix'); }
		
		@font-face { font-family: impact; src: url('/kn/fonts/impact.eot'); }
		@font-face { font-family: impact; src: url('/kn/fonts/impact.ttf'); }
		@font-face { font-family: impact; src: url('/kn/fonts/impact.eot?#iefix'); }
		@font-face { font-family: impact; src: url('/kn/fonts/impact.ttf?#iefix'); }

		html, body { width: 100%; height: 100%; margin: 0; } 
	</style>
	<title>Symfony 2 / daniel.js test
	</title>

	<script language='javascript'>
		if (navigator.appName=='Microsoft Internet Explorer'){browser='MIE';}
		if (navigator.appName=='Netscape'){browser='NET';}
		if (navigator.appName=='Opera'){browser='OPE';}
		ROOT_FOLDER='{ROOT_FOLDER}';
		FULL_PATH='{FULL_PATH}';
		THEME='{THEME}';
	</script>

	<!--Core objects-->
	<script type='text/javascript' src='objects/system/system.js'></script>
	<script type='text/javascript' src='objects/theme/theme.js'></script>
	<script type='text/javascript' src='objects/track/track.js'></script>
	<script type='text/javascript' src='objects/scrollbar/scrollbar.js'></script>	
	<script type='text/javascript' src='objects/communication/communication.js'></script>
	<script type='text/javascript' src='objects/window/window.js'></script>
	<script type='text/javascript' src='objects/frame/frame.js'></script>
	<script type='text/javascript' src='objects/explorer/explorer.js'></script>
	<script type='text/javascript' src='objects/explorer/explorer_1.js'></script>
	<script type='text/javascript' src='objects/menu/menu.js'></script>
	<script type='text/javascript' src='objects/taskbar/taskbar.js'></script>
	<script type='text/javascript' src='objects/button/button.js'></script>
	<script type='text/javascript' src='objects/progress/progress.js'></script>
	<script type='text/javascript' src='objects/uploader/uploader.js'></script>
	<script type='text/javascript' src='objects/switch/switch.js'></script>
	<script type='text/javascript' src='objects/textbox/textbox.js'></script>
	<script type='text/javascript' src='objects/counter/counter.js'></script>
	
	<script type='text/javascript' src='objects/board/board.js'></script>
	<script type='text/javascript' src='objects/clickable/clickable.js'></script>
	
	<!--Development-->
	<script type='text/javascript' src='dev/me/me.js'></script>	
	<script type='text/javascript' src='dev/login/login.js'></script>
	<script type='text/javascript' src='dev/loading/loading.js'></script>
	
	<!--
	<script type='text/javascript' src='objects/panel/panel.js'></script>
	<script type='text/javascript' src='objects/image/image.js'></script>
	
	<script type='text/javascript' src='addons/flowplayer/flowplayer-3.2.6.js'></script>
	-->
</head>

<body style='background-color:white;overflow:hidden;margin:0px;border:0px;width:100%;height:100%;cursor:default;font-family:helvetica;font-size:12px;' 
	onload="
		system.addEvent(document.body,'mouseWheel',function(e){
			e=e?e:window.event; 
			if(e.ctrlKey){ 
				if(e.preventDefault) e.preventDefault(); 
				else e.returnValue=false; 
				return false; 
			} 
		});
	"
	onselectstart="return false;"
	onmousedown="
		/*if (typeof event.preventDefault != 'undefined'){
			event.preventDefault();
		}*/
	"
	oncontextmenu="return false;"
	onDrag="return false;">
</body>

<script language='javascript'>

//INITIALIZATION ===============

	//THEME
	var theme=new x_Theme();
	
	//SYSTEM
	var system=new x_System({/*wallpaper:ROOT_FOLDER+/themes*/backgroundColor:'f5f5f5'});
	system.style.width='100%';
	system.style.height='100%';
	system.style.overflow='hidden';
	system.style.minWidth='500px';
	system.style.minHeight='300px';
	
	//LOADING
	var loading=new x_Loading({width:80,height:80,image:{canvas:theme.canvas.loading1,parameters:{color:theme.colors.note}}});
	loading.style.position='absolute';
	loading.style.zIndex=20000;
	loading.style.left=document.body.scrollLeft+ ((document.body.clientWidth-125)/2) +'px';
	loading.style.top=document.body.scrollTop+ ((document.body.clientHeight-125)/2) +'px';			
	system.registerResize(function(){
		loading.style.left=document.body.scrollLeft+ ((document.body.clientWidth-125)/2) +'px';
		loading.style.top=document.body.scrollTop+ ((document.body.clientHeight-125)/2) +'px';			
	});
	system.content.appendChild(loading);
	
	//COMMUNICATION
	var com=new x_Communication();
	
	//TRACK
	var track=new x_Track();
	
	system.style.display='block';	
	document.body.appendChild(system);




//CONTENT START=====================================================


	/*var taskbar=new x_Taskbar();
	taskbar.style.width='100%';
	taskbar.style.height='40px';
	system.content.appendChild(taskbar);
	taskbar.style.display='block';
	*/
	//SLIDING MENU
	//var menu=new x_Menu([{image:ROOT_FOLDER+'/themes'+THEME+'/14.jpg',ratio:0.5},{image:ROOT_FOLDER+'/themes'+THEME+'/layer1.png',ratio:0.25},{image:ROOT_FOLDER+'/themes'+THEME+'/layer2.png',ratio:0.5}]);



	var frame=new x_Frame({layout:[{size:250,resize:false,border:true},{resize:true,border:true},{resize:true,border:true}],direction:'horizontal',padding:5,resizer:5,border:1});
	system.content.appendChild(frame);
	frame.show();

	var menu=new x_Menu({image:ROOT_FOLDER+'/themes'+THEME+'/14.jpg'});
	menu.addPage();
	menu.addPage();
	frame.content[3].appendChild(menu);
	menu.show();
	
	system.setBoxType(menu,'in');
	menu.dropZone=true;
	menu.dropOverHandler=function(){
		this.style.backgroundColor='red';
	}
	menu.dropOutHandler=function(){
		this.style.backgroundColor='';
	}
	menu.dropHandler=function(obj){
		alert(obj);
	}
	
    function path(txt){
	return(ROOT_FOLDER+'/modules/test/'+txt);
    }
	
	var uploader=new x_Uploader({id:'x_file_uploader',color:'#Ff0000'});
	uploader.style.position='absolute';
	uploader.style.left='319px';
	uploader.style.top='35px';
	uploader.style.width='160px';
	uploader.style.height='25px';
	uploader.content.innerHTML="<table cellspacing='0' cellpadding='5' style='background-color:lightgray;width:100%;height:100%;font-size:14px;color:#616161;position:absolute;left:0px;bottom:0px;line-height:18px;'><tr><td align='center'>UPLOAD</table>";
	frame.content[2].appendChild(uploader);
	uploader.show();


	uploader.data.eventOnSubmit=function(){
		alert('Files selected: '+this.getFilesCount());
		if (this.getFilesCount()>0){
			
			var statusCheck=function(data){
				if (data===false){
					alert('Error');
				}else{
					var piece=data.split('-');
					if (piece[0]!=1){
						track.write(piece[1]+'==='+piece[2]);
						return true;
					}else{
						track.write(piece[1]+'==='+piece[2]);
						setTimeout(function(){
							progress.hide();
							var totalEntries=fileList.rows.length;
							for (var i=0;i<totalEntries;i++){
								fileList.rows[0].parentNode.removeChild(fileList.rows[0]);
							}
						},1000);
						return false;
					}
					
				}
			}
			uploader.status(statusCheck);
		}else{
			
		}
	}
 
	var fileList=new uploader.newFileSelector({width:321,height:358,color:'#Ff0000'});
	fileList.style.position='absolute';
	fileList.style.left='119px';
	fileList.style.top='35px';
	fileList.style.width='160px';
	fileList.style.height='25px';
	fileList.content.innerHTML="<table cellspacing='0' cellpadding='5' style='background-color:lightgray;width:100%;height:100%;font-size:14px;color:#616161;position:absolute;left:0px;bottom:0px;line-height:18px;'><tr><td align='center' style='white-space:nowrap;'>SELECT FILES</table>";
	frame.content[2].appendChild(fileList);
	
	fileList.data.eventOnSelect=function(){
		var orderNo=uploader.addFiles(fileList);
		var newRow=filesTable.insertRow(-1);
		var newCell=newRow.insertCell(-1);
		var newTab=document.createElement('table');
		newTab.setAttribute('cellpadding',5);
		newTab.setAttribute('cellspacing',0);
		newTab.style.width='100%';
		newCell.appendChild(newTab);

		var fls=uploader.getFiles(orderNo);
		for (var i=0;i<fls.length;i++){
			var newRow=newTab.insertRow(-1);			
			
			var fileName=fls[i].name;
			var brake=fileName.split('/');
			var fileName=brake[brake.length-1];
			
			var extension=fileName.split('.');
				extension=extension[extension.length-1];

			var newCell=newRow.insertCell(-1);
			newCell.setAttribute('align','left');
			newCell.style.verticalAlign='middle';
			newCell.innerHTML=fileName;
track.write(extension);
			if (extension=='txt'){
				var can=system.canvas({width:'40px',height:'40px',canvas:theme.canvas.mimeText});
				can.draw({});
			}else if((extension=='doc')||(extension=='docx')){
				var can=system.canvas({width:'40px',height:'40px',canvas:theme.canvas.mimeWord});
				can.draw({});
			}else if ((extension=='xls')||(extension=='xlsx')){
				var can=system.canvas({width:'40px',height:'40px',canvas:theme.canvas.mimeExcel});
				can.draw({});
			}else if (extension=='pdf'){
				var can=system.canvas({width:'40px',height:'40px',canvas:theme.canvas.mimePdf});
				can.draw({});
			}else if (extension=='avi'){
				var can=system.canvas({width:'40px',height:'40px',canvas:theme.canvas.video});
				can.draw({});
			}else if (extension=='mp3'){
				var can=system.canvas({width:'40px',height:'40px',canvas:theme.canvas.audio});
				can.draw({});
			}else{
				var can=system.canvas({width:'40px',height:'40px',canvas:theme.canvas.mimeFile});
				can.draw({});
			}
			
			var newCell=newRow.insertCell(-1);
			newCell.setAttribute('align','right');
			newCell.style.verticalAlign='middle';
			newCell.appendChild(can);
			
		}		
	}

/*	var fls=new x_Button({width:100,height:50,label:'Current files'});
	fls.style.position='absolute';
	fls.style.bottom='10px';
	fls.style.right='190px';
	fls.show();
	frame.content[2].appendChild(fls);
	
	fls.data.eventOnClick=function(e){
		track.write('FILE LIST');
		fls=fileList.getFiles();
		for (var j=0;j<fls.length;j++){
			track.write(fls[j].name);
		}
	}


	var grp=new x_Button({width:100,height:50,label:'Groups'});
	grp.style.position='absolute';
	grp.style.bottom='10px';
	grp.style.right='80px';
	grp.show();
	frame.content[2].appendChild(grp);
	
	grp.data.eventOnClick=function(e){
		track.write('GROUP LIST');
		var max=uploader.items.length;
		for (var i=0;i<max;i++){
			track.write('GROUP '+i);
			fls=uploader.getFiles(i);
			for (var j=0;j<fls.length;j++){
				track.write(fls[j].name);
			}
		}
	}
*/

	var filesTableWrapper=document.createElement('div');
	filesTableWrapper.style.height='500px';
	filesTableWrapper.style.position='absolute';
	filesTableWrapper.style.top='70px';
	filesTableWrapper.style.left='10px';
	filesTableWrapper.style.right='10px';
	filesTableWrapper.style.border='1px solid lightgray';
	filesTableWrapper.innerHTML="<table cellspacing='0' cellpadding='0' style='width:100%;'></table>";
	frame.content[2].appendChild(filesTableWrapper);
	var filesTable=system.getChildNode(filesTableWrapper,1);

/*	var newFile=uploader.newFileSelector(121,158,ROOT_FOLDER+'/dev/assets/upload_select.png');
	newFile.style.left='19px';
	newFile.style.top='18px';
	newFile.content.innerHTML="<table cellspacing='0' cellpadding='0' style='width:100%;font-size:14px;font-family:perfect;color:#616161;position:absolute;left:0px;bottom:10px;line-height:18px;'><tr><td align='center'>ADD FILE</table>";
	menu.content[2].appendChild(newfile);
	newFile.extensions={
		'':0,
		'jpg':1,
		'pdf':2,
		'mp3':3
		
	};

	newFile.eventOnSelect=function(){

		var newRow=fileList.insertRow(-1);
			newRow.style.display='none';
			newRow.style.height='70px';
			newRow.active=1;

			if (Math.round(newRow.rowIndex/2)==(newRow.rowIndex/2)){
				newRow.style.backgroundColor='#ffffff';
			}else{
				newRow.style.backgroundColor='#fafafa';
			}
			
		var newCell=newRow.insertCell(-1);
			newCell.style.width='24px';
			newCell.style.verticalAlign='top';
			newCell.align='right';
			newCell.style.fontSize='16px';
			newCell.style.fontFamily='Perfect';
			newCell.style.color='#616161';
			newCell.style.paddingTop='8px';
			newCell.style.paddingLeft='10px';
			newCell.innerHTML=(newRow.rowIndex+1)+'.';

		var newCell=newRow.insertCell(-1);
			newCell.style.width='64px';
			newCell.style.verticalAlign='top';
			newCell.innerHTML="<div style='width:64px;height:64px;overflow:hidden;background-image:url("+path('mime_types.png')+");'></div>";
			
			//Extension
			var pos=this.selector.value.lastIndexOf('.');
			if (pos!=-1){
				var ext=this.selector.value.substring(pos+1);
			}else{
				var ext='';
			}
			//Filename
			var pos=this.selector.value.lastIndexOf('/');
			if (pos==-1){
				pos=this.selector.value.lastIndexOf('\\');
			}
			if (pos!=-1){
				var filename=this.selector.value.substring(pos+1);
			}else{
				var filename=this.selector.value;
			}

			newRow.fileName=filename;

			mimeOffset=0;
			if (this.extensions[ext]){
				mimeOffset=this.extensions[ext]*64;
			}
			system.getChildNode(newCell,1).style.backgroundPosition='0 -'+mimeOffset;
			
		var newCell=newRow.insertCell(-1);
			newCell.align='left';
			newCell.style.verticalAlign='top';
			newCell.style.paddingTop='10px';
			newCell.innerHTML="<span style='color:#0084d9;'>"+filename+"</span>";
		var newCell=newRow.insertCell(-1);
			newCell.align='left';
			newCell.style.width='115px';
			newCell.style.paddingTop='5px';
			newCell.style.paddingLeft='10px';

			newRow.itemOrder=uploader.addFile(newFile);	
			
			//newRow.cells[0].style.borderTop='1px solid #cccccc';
			newRow.cells[0].style.borderBottom='1px solid #cccccc';
			//newRow.cells[0].style.borderLeft='1px solid #cccccc';
			//newRow.cells[1].style.borderTop='1px solid #cccccc';
			newRow.cells[1].style.borderBottom='1px solid #cccccc';
			//newRow.cells[2].style.borderTop='1px solid #cccccc';
			newRow.cells[2].style.borderBottom='1px solid #cccccc';
			//newRow.cells[3].style.borderTop='1px solid #cccccc';
			newRow.cells[3].style.borderBottom='1px solid #cccccc';
			//newRow.cells[3].style.borderRight='1px solid #cccccc';
			
		newRow.style.display='';
		if (frame.content1.offsetHeight<frame.content1.scrollHeight){
			frame.content1.scrollTop=frame.content1.offsetHeight;
		}
		nofiles.style.display='none';
		winScroll.repaint();
	}


	
	/*explorer1=new x_Explorer_Selectable({
		corner:{width:3,height:3},
		content:{left:2,top:2,right:2,bottom:2},
		images:{corners:ROOT_FOLDER+'/themes/'+THEME+'/panel/corners.png',
				sides:ROOT_FOLDER+'/themes/'+THEME+'/panel/sides.png',
				background:ROOT_FOLDER+'/themes/'+THEME+'/panel/background.png'
		}
	});
	explorer1.style.position='absolute';
	explorer1.style.left='0px';
	explorer1.style.top='0px';
	explorer1.style.width='100%';
	explorer1.style.height='100%';
	//explorer1.style.border='1px solid red';
	frame.content[2].appendChild(explorer1);
	explorer1.show();	

	var scroll=new x_Scrollbar({
		link:explorer1.content,
		width:'8px',
		type:'vertical',
		color:theme.colors.border,
		backgroundColor:theme.colors.background,
		drag:{
			size:30,
			top:0,
			bottom:0
		}
	});
	frame.content[2].appendChild(scroll);
	scroll.show();
	
	scroll.style.position='absolute';
	scroll.style.right='2px';
	scroll.style.top='3px';
	scroll.style.bottom='3px';*/
	
/*
	localStorage.removeItem('scripts');
	localStorage.removeItem('modules');
	
	var homeLaunch=function(){
		system.loadModule('home','cod',null);
	}

	var board=new x_Board();
	system.content.appendChild(board);
	board.addMenu({
		image:{
			width:45,height:45,
			canvas:theme.canvas.home,
			normal:{color:theme.colors.border},
			over:{color:theme.colors.note,gradient:true},
			down:{color:theme.colors.note}
		},
		onClick:homeLaunch
	});

	board.addMenu({
		image:{
			width:45,height:45,
			canvas:theme.canvas.journal,
			normal:{color:theme.colors.border},
			over:{color:theme.colors.note,gradient:true},
			down:{color:theme.colors.note}
		}
	});
	board.addMenu({
		image:{
			width:45,height:45,
			canvas:theme.canvas.games,
			normal:{color:theme.colors.border},
			over:{color:theme.colors.note,gradient:true},
			down:{color:theme.colors.note}
		}
	});
	
	board.style.position='absolute';
	board.show();

	var me=new x_Me({image:ROOT_FOLDER+'/themes'+THEME+'/profile.jpg',image2:ROOT_FOLDER+'/themes'+THEME+'/profile1.png'});
	me.style.position='absolute';
	me.style.left='100px';
	me.style.top='7px';
	system.content.appendChild(me);
	me.show();

	var settings=new x_Clickable({label:'',title:'Settings',width:'25px',height:'25px',image:{
				canvas:theme.canvas.settings,
				normal:{color:theme.colors.border},
				over:{color:theme.colors.note,gradient:true},
				down:{color:theme.colors.note}
				},
				onClick:function(){alert('School settings');}
	});
	settings.style.position='absolute';
	settings.style.right='30px';
	settings.style.top='27px';
	system.content.appendChild(settings);
	settings.show();
	
	var notifications=new x_Clickable({label:'',title:'Settings',width:'25px',height:'25px',image:{
				canvas:theme.canvas.notification,
				normal:{color:theme.colors.border},
				over:{color:theme.colors.note,gradient:true},
				down:{color:theme.colors.note}
				},
				onClick:function(){alert('Notifications display');}
	});
	notifications.style.position='absolute';
	notifications.style.right='70px';
	notifications.style.top='27px';
	system.content.appendChild(notifications);
	notifications.show();

	var counter=x_Counter({});
	counter.style.minWidth='18px';
	counter.style.position='absolute';
	counter.style.right='62px';
	counter.style.top='21px';
	counter.setValue(28);
	system.setCornerRadius(counter,999,999,999,999);
	system.content.appendChild(counter);
	counter.show();
*/

//system.setGradient(board.data.content,'top','rgba(30,87,153,1)',0,'rgba(125,185,232,0)',50,'rgba(255,0,0,1)',100);

/*var login=new x_Login();
system.content.appendChild(login);*/

	
	
	
</script>
